[2013-12-24 16:22] paulradzkov opened #1 "Outlook support"
Have you tested it in Outlook?
I've tried to open template in Outlook 2010 and max-width and paddings was broken.

[2013-12-27 12:09] #1 closed, assigned to nobody

[2013-12-28 08:03] redchair123 opened #2 "LICENSE?"
you know the drill

[2013-12-28 10:36] #2 closed, assigned to nobody

[2014-01-01 01:05] iLuXing opened #5 "Why not html5 meta?"

[2014-01-02 13:16] #5 closed, assigned to nobody

[2014-03-14 05:28] grahamwookie opened #12 "Head styles"
hello, I just downloaded your email template. Thank creating this. Before I go and use the template isn't it a bad thing to include all your styles within the <head>? Many email clients like Gmail disregard these?

g.

[2014-03-14 19:01] #12 closed, assigned to nobody

[2014-10-26 10:37] fourroses666 opened #14 "Best practice images 100%?"
sorry for being a bit lazy, when adding images, what style needs to be added to the img?

`<img src="" width="100%;  height="auto" />`

?

btw, nice template thx for sharing

[2014-10-28 16:42] #14 closed, assigned to nobody

[2015-03-10 13:18] andylaci opened #17 "other style in gmail in browser"
hello, the template is behaving strange on gmail in browser, the background is white, not gray. Is it bug or feature ? :D

[2015-03-11 22:25] IdemIsDito commented on #17
Had the same problem, but reading the docs learned me that some e-mail clients need inline CSS. You should use the email-premailer.html file instead.

[2015-03-24 21:14] misawsneto commented on #17
Yep,

gmail problems here
![untitled](https://cloud.githubusercontent.com/assets/1959468/6813078/8429e224-d251-11e4-9e4c-4335218f3c0b.png)

[2015-03-24 23:19] leemunroe commented on #17
@misawsneto Is that using inlined CSS? Can you share the HTML you're sending?

[2015-03-25 09:04] fourroses666 opened #18 "Example url not correct on github projectpage"
http://leemunroe.github.io/responsive-html-email-template/email.html

missing responsive

[2015-03-25 22:50] leemunroe commented on #18
Thanks

[2015-03-25 22:50] #18 closed

[2015-04-03 00:42] beausmith opened #19 "Broken URL in Project Description"
Project description has broken link to:
http://leemunroe.github.io/html-email-template/email.html

`readme.md` has working link to:
http://leemunroe.github.io/responsive-html-email-template/email.html

[2015-04-05 22:14] #19 closed

[2015-04-05 22:14] leemunroe commented on #19
@beausmith thanks!

[2015-04-30 12:49] banzaimachine opened #20 "Outlook 2013 uses Times New Roman instead of the font-family value"
I tried some styling but i can't get it to work as i wish.
Is there a fix for this Outlook behaviour?

[2015-05-05 00:15] leemunroe commented on #20
@banzaimachine I couldn't reproduce. Although I am using Litmus to test rather than the real thing. Are you using the inlined version?

![image](https://cloud.githubusercontent.com/assets/15963/7465201/313a4dd8-f281-11e4-9489-055d954e7197.png)

[2015-05-05 00:24] leemunroe commented on #17
You're right. Needed background color applied to the table. Pushed a fix.

![image](https://cloud.githubusercontent.com/assets/15963/7465291/61c64e74-f282-11e4-98fe-eec62584b936.png)

[2015-05-05 00:24] #17 closed

[2015-05-05 07:11] banzaimachine commented on #20
Yes, I tested it on the updated Office 2013 and it was displaying in Times New Roman.
Office 2011 displayed it correctly though.

However, I thank you for the answer but given that I was in a hurry i ended up using another template.

(sorry for my engrish)

[2015-06-24 01:25] Jakezheng opened #22 "Can you give a example of template with image"
Can you give a example of template with image

[2015-06-24 18:50] #20 closed

[2015-06-24 19:06] leemunroe commented on #22
Is there something specific you're looking for? What happens when you include an image currently?

e.g. `<p><img src="" alt="" width="" height=""></p>`

[2015-08-18 18:39] smohadjer opened #23 "Could you list the email clients that you have tested against?"
Could you list the email clients that you have tested against?

[2015-09-10 13:54] bago opened #24 "Adapting to mosaico editor"
We just pushed http://github.com/voidlabs/mosaico an email template editor.
Would you mind if we adapt your template to be used inside mosaico?
Can we redistribute the adaptation under the GPL license?

[2015-09-10 23:31] yaronguez commented on #22
Adding a large image seems to break the responsiveness.  Should the image go within a <td> ?

[2015-09-10 23:46] leemunroe commented on #24
Not at all, go for it. Thanks for asking.

[2015-09-10 23:46] #24 closed

[2015-09-11 00:20] leemunroe commented on #23
Here are recent test results https://litmus.com/pub/a19acf5/screenshots

[2015-09-11 00:20] #23 closed

[2015-09-11 00:33] yaronguez commented on #22
I think I've resolved it but haven't test it in a mail client.  Changing the img styling from:
[code]
to
[code]
seems to the do trick.

[2015-09-11 04:20] leemunroe commented on #22
Nice! @yaronguez Want to submit a PR and I'll merge it in?

[2015-09-11 19:46] yaronguez commented on #22
Sure thing!  https://github.com/leemunroe/responsive-html-email-template/pull/25

[2015-09-12 03:19] #22 closed

[2015-09-14 18:20] opheliadesign opened #26 "Centering buttons?"
What is the recommended method to center a `btn-primary` link button? The current code uses a nested table to create the button, previously I simply used something along these lines:

[code]

[2015-09-15 05:44] leemunroe commented on #26
I think the ideal solution is another table that wraps it and applies alignment.

[code]

Discovered that using a table for the button is a bit more bulletproof across certain clients, particularly Outlook.

[2015-09-15 05:44] #26 closed

[2015-09-16 08:48] janyksteenbeek opened #28 "E-mail template not rendering correctly in Gmail web client"
I have been using your email template for over a week now, and just tried it out by sending it to an Gmail email account. However, the email template does not get rendered correctly in the web client of Gmail (www.gmail.com) as you can see on the screenshot below

You can find the email (including headers) [here](https://gist.github.com/janyksteenbeek/5c8784cef4c538e346c7). I am using Mailjet to g

[2015-09-16 11:32] leemunroe commented on #28
Hi @janyksteenbeek you need to inline the CSS before sending, as Gmail strips any CSS that isn't inlined. You can do the inlining yourself, or use the `email-inlined.html` file.

[2015-09-16 13:28] janyksteenbeek commented on #28
Thanks @leemunroe, that worked perfectly fine!

[2015-09-16 13:28] #28 closed

[2015-09-19 08:30] teslaji opened #29 "inliner"
can you tell me which inliner processor you used to generate html-inlined.
I have some changes in body and your inlined version is not much readable.

[2015-09-19 16:45] leemunroe commented on #29
I used [Zurb](http://zurb.com/ink/inliner.php) for this. Although on production projects I'll often use Premailer or Juice.

[2015-09-19 16:45] #29 closed

[2015-09-22 14:27] duanefields opened #30 "FYI, your published demo page doesn't match the github repo"
Is that intentional?

[2015-10-15 02:39] thilinag commented on #22
The problem is smaller images will also stretch to 100% if you do this.

[2015-11-06 20:05] jtammen opened #32 "Typo: Margin instead of margin"
This seems to confuse the CSS inliner I was using.

See https://github.com/leemunroe/responsive-html-email-template/blob/master/email.html#L156

[2015-11-06 20:14] leemunroe commented on #32
This is actually on purpose as a hack for Outlook and Outlook.com
https://litmus.com/community/discussions/84-what-s-your-favorite-hack#comment-2135

What inliner are you using?

[2015-11-06 20:22] jtammen commented on #32
Oh, my bad!

I use https://github.com/jonkemp/gulp-inline-css which relies on https://github.com/jonkemp/inline-css.

I just noticed that – in the browser – the container is not centered anymore after running the inliner. But maybe I can just ignore that…

[2016-02-08 22:20] #32 closed

[2016-02-08 22:24] leemunroe commented on #30
No, should be fixed now. Thx.

[2016-02-08 22:24] #30 closed

[2016-03-07 15:08] mgraupner opened #37 "Gmail Webclient problem with provided email-inlined.html"
Using your provided email-inlined.html (unmodified!) I can't get a satisfying result for Gmail Webclient. See the following screenshot. Is this a known limitation? Things not working: Not centered container, missing background color.

![bildschirmfoto 2016-03-07 um 16 06 19](https://cloud.githubusercontent.com/assets/586644/13573170/997e40d0-e47e-11e5-8333-ba4ff7cfe426.png)

[2016-03-09 14:43] invalidusernam3 commented on #37
+1 styling breaks completely in gmail

[2016-03-09 16:45] mgraupner commented on #37
@invalidusernam3 @leemunroe  I came up with a solution that creates a valid result with Premailer, when using the original email.html with [the Mailchimp Inliner](http://templates.mailchimp.com/resources/inline-css/) everything works as expected. So I guess it's Premailers fault here.

[2016-03-10 04:58] leemunroe commented on #37
I wasn't able to reproduce. I copy/pasted the inlined version, sent it to Gmail and this is what I see.

![image](https://cloud.githubusercontent.com/assets/15963/13659825/a4d99954-e639-11e5-9327-d8b5184eb809.png)

@mgraupner Odd. What browser are you using?

[2016-03-15 08:41] mgraupner commented on #37
@leemunroe Client: Firefox 45 on Mac OS X 10.11.3. Same for Chrome 50.0.2661.11 dev (64-bit) on Mac OS.

I guess it's a client thing, same issue occuring in https://github.com/mailgun/transactional-email-templates/issues/20

[2016-06-28 12:22] rankun203 opened #40 "Breaks in Google Inbox."
![image](https://cloud.githubusercontent.com/assets/2988555/16415035/c271aaa2-3d6d-11e6-9d22-be94c78ca179.png)

Seems Inbox separate the page into parts by table.

[2016-07-01 14:19] leemunroe commented on #40
Hmm I'm not seeing the same thing. Can you try resending a new email to yourself and confirm?

![image](https://cloud.githubusercontent.com/assets/15963/16524210/21b21334-3f9f-11e6-986d-66c11c4a0f85.png)

And maybe include the full MIME to look at. Thanks.

[2016-07-09 23:01] artforlife commented on #40
Works well for me in Gmail. I am sending using NodeJS and Nodemailer.

[2016-07-10 13:56] #40 closed

[2016-08-01 15:55] Temeez commented on #37
I have the same problem with Firefox 47.0.1 on Windows 7.

[2016-08-03 05:30] leemunroe commented on #37
Here's an updated version that I'll be merging soon. Please check this version out and see if it fixes the problem for you. Also welcome to any other getting started feedback.

https://github.com/leemunroe/responsive-html-email-template/pull/41

[2016-08-04 05:39] leemunroe opened #42 "Readme Images"
![image](https://cloud.githubusercontent.com/assets/15963/17391465/2ca815e0-59cb-11e6-915a-193f4518c0a9.png)

[2016-08-04 05:39] #42 closed

[2016-08-04 05:43] leemunroe commented on #42
![simple](https://cloud.githubusercontent.com/assets/15963/17391543/bc289abe-59cb-11e6-9946-605a85f8c522.jpg)

[2016-08-04 05:53] leemunroe commented on #37
Merged and released v1.0.0
https://github.com/leemunroe/responsive-html-email-template/releases/tag/v1.0.0

Please verify if these improvements have fixed the problems you've highlighted. Thanks.

[2016-08-04 05:53] #37 closed

[2016-08-26 06:06] leemunroe commented on #37
@Temeez @mgraupner Did you try out the latest? Curious if that helps fix things for you.

[2016-08-27 13:40] mgraupner commented on #37
@leemunroe Didn't have time to try the new version yet, will do as soon as possible and let you know.

[2016-09-06 06:43] tkwon opened #44 "Desktop view missing button"
Looks fine on mobile and tablet. But when opened with Firefox and MS Edge using Gmail the link shows up as plain text:

![screen shot 09-05-16 at 11 42 pm](https://cloud.githubusercontent.com/assets/311161/18264025/9807edae-73c2-11e6-9f87-c70063197986.PNG)

[2016-09-06 13:07] leemunroe commented on #44
Thanks @tkwon. Trying to reproduce. Can you show me the full HTML you're sending? And to confirm, using latest Firefox in Gmail?

[2016-09-06 16:12] tkwon commented on #44
I cut and paste directly from your email.html. I'm attaching a copy for your review.

I used Firefox 48.02 as well as Microsoft Edge 25.10586.

Unfortunately I can't get Chrome to run on my computer due to other issues.

I did verify the email works fine on desktop using GoDaddy email. So it seems to be related to Gmail.
[email_confirm.txt](https://github.com/leemunroe/responsive-html-email-templa

[2016-09-06 18:44] tkwon commented on #44
FYI, I also found out the button doesn't appear when using mail from zoho.com

[2016-09-07 00:57] leemunroe commented on #44
Are you inlining the CSS before sending? You either need to use the template that is inlined `email-inlined.html` or your ESP needs to inline your CSS for you before sending.

https://github.com/leemunroe/responsive-html-email-template#sending-emails-using-a-marketing-service-like-campaign-monitor-or-mailchimp

[2016-09-07 03:54] tkwon commented on #44
Ok thats most likely the problem. I'm using django fyi and sending the email myself.

[2016-09-07 03:57] leemunroe commented on #44
Ah gotcha. I'm not familiar with django but try [this](https://github.com/roverdotcom/django-inlinecss).

[2016-09-07 03:57] #44 closed

[2016-09-07 05:06] tkwon opened #45 "CSS issue?"
Sorry for another issue but I was able to get things working using the django-inlinecss library you pointed out. However, when using it I found the resulting button has a table td around it that appears too big. (or the button is too small). Here's a screenshot as I hover over the buton.

![screen shot 09-06-16 at 10 00 pm](https://cloud.githubusercontent.com/assets/311161/18300430/d725c1b2-747d-1

[2016-09-08 01:58] leemunroe commented on #45
I'm having trouble reproducing this. Can you take a straight copy of the [inlined version here](https://raw.githubusercontent.com/leemunroe/responsive-html-email-template/master/email-inlined.html) and see if this has the same issue. If so, please share the screenshot.

And no problem re. the issue, if you find something then keep them coming. Happy to make sure this works.

[2016-09-08 15:39] tkwon commented on #45
Your inlined version works fine. It must be the django inliner is doing something incorrectly.

[2016-09-08 15:39] #45 closed

[2016-10-11 13:29] andreynering commented on #40
Happened for me also, but I found the reason:

Inbox tries to group emails from a common sender (so called conversation view), and tries to hide a common signature if exists.

The email was "fixed" after I deleted old messages, including from trash.

I don't know if there's a way to prevent that.

[2016-11-07 17:18] stefdelec opened #46 "Issue on outlook"
Hi,

Thanks for your template. I am juste having a problem win outlooks.
cf screeshot:http://hpics.li/3ff9ade

my code before inline text:
[code]

[2016-11-08 08:58] #46 closed

[2016-11-10 09:29] inpq opened #47 "Width at Outllook 2016"
Hello
I'm testing the template in different mail clients.
In all programs it looks good, but not with Outlook 2016.
Shown in a narrow column and with the buttons unformatted

I do not know how to correct this
Thanks.

[2016-11-10 23:51] leemunroe commented on #47
Thanks for the report. Can you send a screenshot? And is it a straight copy/paste of the code you're testing?

[2016-11-11 08:19] inpq commented on #47
Thanks for the reply

I attach a screenshot and an html file with the email code.

Thanks.

De: Lee Munroe [mailto:notifications@github.com]
Enviado el: viernes, 11 de noviembre de 2016 0:52
Para: leemunroe/responsive-html-email-template <responsive-html-email-template@noreply.github.com>
CC: inpq <info@inpq.com>; Author <author@noreply.github.com>
Asunto: Re: [leemunroe/responsive-html-email-temp

[2016-11-11 08:21] inpq commented on #47
![email](https://cloud.githubusercontent.com/assets/1485896/20208676/250b1b8e-a7f0-11e6-9845-7f81ae3327c9.png)

[2016-11-11 08:21] inpq commented on #47
[_email_send.txt](https://github.com/leemunroe/responsive-html-email-template/files/585305/_email_send.txt)

[2016-11-14 02:37] leemunroe commented on #47
Ah, are you inlining the CSS before sending?

https://github.com/leemunroe/responsive-html-email-template#sending-emails-directly-from-your-app-or-using-a-developer-service

[2016-11-14 08:44] inpq commented on #47
I use https://github.com/scottrobertson/premailer
[_email_send.txt](https://github.com/leemunroe/responsive-html-email-template/files/588729/_email_send.txt)
Thanks!

[2016-11-14 09:13] inpq commented on #47
![email](https://cloud.githubusercontent.com/assets/1485896/20258987/af022058-aa52-11e6-9589-62757f0c7753.png)
[_email_send.txt](https://github.com/leemunroe/responsive-html-email-template/files/588796/_email_send.txt)

Now the buttons look good, but the width still goes wrong

Thanks

[2016-11-16 16:54] alambrecht commented on #47
+1 I am having the same issue.

[2016-11-17 01:45] leemunroe commented on #47
Is this happening when you test the original inlined email here?

https://raw.githubusercontent.com/leemunroe/responsive-html-email-template/master/email-inlined.html

[2016-11-17 08:02] inpq commented on #47
With that goes well.
Thanks!

[2016-11-29 17:38] arun-is commented on #47
I'm having the same issue as well. I diffed the above inlined email and one I produced by inlining your original email in premailer and there are many differences

[2016-11-29 19:24] leemunroe commented on #47
Just want to check we're all on the same page here before digging more in to this.

Are you having issues with the original email template [here](https://github.com/leemunroe/responsive-html-email-template/blob/master/email-inlined.html). With the email that @inpq provided [above](https://github.com/leemunroe/responsive-html-email-template/issues/47#issuecomment-260284110)? Or with your own versio

[2016-11-29 22:42] arun-is commented on #47
I took your original non-inlined email, inlined it using premailer and dropped it into litmus. I noticed the same width issues as seen above.

[2016-11-29 23:52] leemunroe commented on #47
Gotcha. Thanks, taking a look.

[2016-11-30 00:09] leemunroe commented on #47
Hmm ok I see what you mean. I tried inlining with Premailer and got the same results.

When I tried inlining with Putsmail it worked fine.

Need to dig deeper to see where this breaks down but in the mean time I recommend using another inliner like [Putsmail](https://putsmail.com/inliner). Other options are [Roadie](https://github.com/Mange/roadie) and [Juice](https://github.com/Automattic/juice).

[2016-11-30 00:51] arun-is commented on #47
Thanks for digging into this and a bigger thanks for developing this template.

[2016-11-30 07:56] inpq commented on #47
Thanks for the development!

[2016-11-30 15:10] oliversalzburg commented on #47
I'm running the template through Juice, but I'm seeing the same width issue as reported on this thread.

[2016-11-30 15:11] oliversalzburg opened #49 "Use of Margin intentional?"
I see several uses of `Margin` (notice the uppercase `M`) in the template. Is that intentional?

[2016-11-30 15:27] oliversalzburg commented on #47
When I remove https://github.com/leemunroe/responsive-html-email-template/blob/master/email.html#L52 everything looks fine, at least in Outlook 2016 :P

[2016-11-30 21:38] stevenvachon opened #50 "<meta charset="utf-8">"
Is this safe? It's shorter and nicer.

[2016-11-30 22:40] leemunroe commented on #49
Yes. It was a hack as some clients ignored lower case M. While it has been a while since I vigorously tested this `Margin` doesn't seem to be an issue.

[2016-11-30 22:40] #49 closed

[2016-11-30 23:03] leemunroe commented on #47
That could be it. Do you have a link to Litmus or screenshot?

This is when I wish I had documented why each line of CSS had been added as there was a reason for having it at some stage :)

[2016-12-01 09:20] oliversalzburg commented on #47
@leemunroe The original looked exactly line @inpq's screenshot. When I removed the line I mentioned, the result looks exactly like the Litmus shots linked in the README.

I already moved on from there, so I don't have anything I can contribute right now :(

Thanks for the template!

[2016-12-01 09:21] oliversalzburg commented on #49
Interesting. My IDE complained about it, so I changed them to lower-case and everything still looks fine (...in the 2 clients I tested with :P)

[2016-12-05 01:02] #47 closed

[2016-12-05 01:06] leemunroe commented on #47
Thanks all for your help debugging this.

@Devaney's PR fixed it and I uploaded a new inlined version.

[2017-01-02 15:34] xorinzor commented on #50
I don't really see why this would matter, those few bytes wouldn't really make much of a difference.

[2017-01-03 03:10] stevenvachon commented on #50
They do when sending millions of emails.

[2017-01-09 06:35] jsartisan opened #53 "Styles not rendering on Android Chrome"
None of styles are being rendered on Android chrome browser. Any idea how to fix it ?

[2017-01-10 01:39] leemunroe commented on #53
@jsartisan Can you show me the code you're using and also a screenshot (or Litmus test) of the results? It will help me reproduce the issue.

[2017-01-10 04:17] jsartisan commented on #53
@leemunroe here is the screenshot

![alt tag](http://i.imgur.com/tPK1Jk0.png)

Here is the code i am using for a email for <a href="https://hackr.io">Hackr.io</a>

[code]

[2017-01-10 04:20] jsartisan commented on #53
@leemunroe it should have rendered as like this
![alt tag](http://i.imgur.com/s1CIVQX.png)

[2017-01-10 04:37] leemunroe commented on #53
I see. Did you try inlining the CSS before sending? A lot of clients strip out CSS that isn't inlined.

https://github.com/leemunroe/responsive-html-email-template#sending-emails-directly-from-your-app-or-using-a-developer-service

[2017-01-10 05:49] jsartisan commented on #53
@leemunroe Oh got it. I'll try the putsmail and will let you know if works or not. :)

Thanks for your help. really appreciate it.

[2017-01-10 09:46] jsartisan commented on #53
@leemunroe it worked thanks :)

[2017-01-10 09:47] #53 closed

[2017-01-16 22:30] leemunroe commented on #50
@stevenvachon How's this working out? I haven't tested this at scale. Would love to know if there are any issues.

[2017-01-31 22:59] galengidman opened #55 "Why does <h1> force text-transform uppercase?"
Is this in place because it serves as some kind of compatibility hack I'm not aware of? If not, it seems like title capitalization should be left to content producers instead of being forced by CSS.

This is especially troublesome when working with titles that have words that _should_ begin with a lowercase letter. Examples:

- `jQuery` → `JQuery` (incorrect)
- `Have a Nice Day` → `Have A Nice Day

[2017-02-01 01:38] leemunroe commented on #55
@galengidman No hack. Just opinionated. I see your issue. I would say treat this template like a boilerplate and make your changes.

[2017-02-01 18:29] galengidman commented on #55
Gotcha — appreciate the update.

I'd highly suggest changing this, but obviously it's your call. Thanks for the nice template.

[2017-02-16 03:31] #55 closed

[2017-03-08 14:42] siliconforks opened #56 "Missing padding in Outlook"
In most clients there is 10px padding between the main content area (white background) and footer (3 lines at the bottom), but in Outlook this seems to be missing.  This can be seen at https://litmus.com/checklist/emails/public/d432046 with the following clients:

* Outlook 2007 - Win 7
* Outlook 2013 - Win 7
* Outlook 2013 120 DPI - Win 7
* Outlook 2016 - Win 7

Presumably this is because Outlook

[2017-03-08 20:09] deveshkrsingh opened #57 "Button not showing in mailbbox"
Buttons are not showing in mail,it is coming as hyperlink
![capture](https://cloud.githubusercontent.com/assets/5374728/23721851/2fbb256a-0411-11e7-9644-909b08fbe932.PNG)

[2017-03-10 04:55] leemunroe commented on #57
@deveshkrsingh Can you share the code you're using and I'll try and reproduce? Just to double check, are you inlining the CSS before sending? https://github.com/leemunroe/responsive-html-email-template#sending-emails-directly-from-your-app-or-using-a-developer-service

[2017-03-13 01:11] leemunroe commented on #56
@siliconforks You're right. For a quick fix, add some padding to the first `<td>` in the footer and remove the padding from the div. That should work. I'll update the repo once I've tested it a bit more.

[2017-04-05 19:42] jonscottclark commented on #29
+1 for Juice!

Like Premailer and Zurb Ink, Juice has a web version that also allows you to set a lot of different options: http://automattic.github.io/juice/

Here's how I use Juice in a `gulp` workflow:

[code]

[2017-04-07 16:57] shawnpj opened #58 "does not render properly in Outlook 2013."
i just did a test and it does not render properly in outlook 2013.  the entire column appears to the right when open in email test.  It is not in the center of the screen when you open an email.  It does look good in yahoo mail, iOS and so on.  How can I fix it?

[2017-04-07 23:03] leemunroe commented on #58
Hi @shawnpj can you share the html you're testing? And also a screenshot?

Here is what I see when I take `email-inlined.html` and paste it into Litmus to preview. Which looks ok to me.

https://litmus.com/checklist/emails/public/29513bd

[2017-04-10 14:05] shawnpj commented on #58
hi.. here is the preview screenshot that was taken in Outlook 2013 and html file.

Not sure why the Call to Action looks different.

![banner_placeholder](https://cloud.githubusercontent.com/assets/10515121/24865351/fd6b11c8-1dd4-11e7-8774-397741b66f0a.jpg)
![image_placeholder](https://cloud.githubusercontent.com/assets/10515121/24865350/fd678fee-1dd4-11e7-82c4-7a450caca383.jpg)
![preview-test](ht

[2017-04-10 14:34] shawnpj commented on #58
here is another screenshot taken from the browser.

![preview-test 2](https://cloud.githubusercontent.com/assets/10515121/24866791/3bc9381a-1dd9-11e7-923f-52b1bb79cd1f.jpg)

[2017-04-11 00:26] leemunroe commented on #58
Thanks @shawnpj. Are you inlining the CSS as [described here](https://github.com/leemunroe/responsive-html-email-template#sending-emails-directly-from-your-app-or-using-a-developer-service) before sending? The HTML you attached did not have CSS inlined.

[2017-04-13 18:17] shawnpj commented on #58
here is the inline version.

[responsive-inliner.zip](https://github.com/leemunroe/responsive-html-email-template/files/920474/responsive-inliner.zip)

[2017-05-05 21:23] #50 closed

[2017-05-05 21:24] #57 closed

[2017-05-25 12:40] mxmzb opened #62 "Doesn't render properly in Spark MacOS"
Only in [MacOS Spark](https://itunes.apple.com/app/id1176895641?mt=12) styles seem not to apply, on the iOS app it seems to work fine though...

[2017-05-25 22:44] leemunroe commented on #62
Interesting. Haven't used it before. Do you know what rendering engine it is using? Is this the only client you're having issues with?

[2017-05-27 23:59] mxmzb commented on #62
I am afraid I don't know the engine they use on that. However, it seems this is the only client with this issue for me, yes.

[2017-06-04 21:40] leemunroe commented on #42
![image](https://cloud.githubusercontent.com/assets/15963/26765586/c6484a96-4933-11e7-80e0-2f7509d24280.png)

[2017-06-15 11:51] ViggoV commented on #62
I think that this is a problem with Spark for Mac. I have the same issue, but if I press reply or forward, the referenced mail will be styles..

[2017-07-07 20:01] scyclops commented on #56
Has there been any update on this?

[2017-07-08 17:57] mxmzb commented on #62
@ViggoV doesn't display for me correctly even if I reply / forward.

[2017-08-08 04:02] leemunroe commented on #56
Should be fixed in latest master. Missing the class that adds padding to the block.

https://github.com/leemunroe/responsive-html-email-template/releases

[2017-08-08 04:02] #56 closed

[2017-08-08 04:03] leemunroe commented on #58
@shawnpj Can you check latest master? All looking good from my side.

https://github.com/leemunroe/responsive-html-email-template/releases

[2017-08-08 04:03] #58 closed

[2017-08-08 04:08] leemunroe commented on #42
![image](https://user-images.githubusercontent.com/15963/29055956-8dcca38e-7bb4-11e7-8a86-7b056ebf673d.png)

[2017-08-15 15:59] mfoote opened #66 "Forward clears <head>"
When you forward an email it wipes out the formatting.

[2017-08-16 03:49] leemunroe commented on #66
@mfoote Unfortunately there's little that can be done about forwarding. [Here's a good post from Litmus](https://litmus.com/blog/when-forwarded-emails-break).

That said, in your issue you mention it clearing `<head>`. If you have your CSS inlined then this should have minimal effect. What does your original code look like that you're sending? And what client are you testing?

[2017-09-04 11:21] ghenry opened #67 "Interesting complaints at http://www.accessible-email.org"
Issues valid?

[http://www.accessible-email.org/](http://www.accessible-email.org/)

No lang set, no header etc.

Thanks.

[2017-09-04 11:23] ghenry commented on #67
It also wants to add `role="presentation"`  to the tables.

[2017-09-06 03:45] leemunroe commented on #67
The `role` attribute on tables and `lang` are good points. We could add those.

[2017-09-14 04:59] leemunroe commented on #62
@mxmzb Mind sharing a screenshot to help me troubleshoot?

[2017-09-14 04:59] #66 closed

[2017-09-19 08:38] mxmzb commented on #62
i think this was my bad, it wasn't the inline css version but it was with stylesheets. i didn't try if it works with inline version since then, but i am pretty sure that this was the reason. sorry for that!

[2017-09-19 08:38] #62 closed

[2017-09-20 05:17] leemunroe commented on #62
@mxmzb No problem thanks for following up

[2017-10-29 19:50] noman-land opened #68 "Capital M margins"
This is more of a question than an issue but I was wondering why only _some_ of the margins in the template are capital M. I understand it's best practice to use capital margins because Outlook for some reason doesn't strip out margins of there's a capital letter in the declaration. Were some of the margins left lowercase for some specific purpose or should they all be capitalized?

[2017-10-30 06:09] leemunroe commented on #68
@noman-land Good question. Probably what happened was when I put this together I used lower case m for everything, then noticed it didn't display well in Outlook.com so I added the fix where it mattered.

As of current day, I don't think you need this hack any more for Outlook.com. I haven't tested this myself but have read it on [different articles](https://www.emailonacid.com/blog/article/email-

[2017-11-18 22:48] adelriosantiago opened #69 "Button 100% width, is this the best way?"
What is the best way to make the button 100% width?

I did:
[code]
(Note the width: 100% in the first <table> element) And it looks fine,

![image](https://user-images.githubusercontent.com/5462382/32985431-52312792-cc80-11e7-8f96-9e9389132153.png)

**Would this have any impact on Outlook/Gmail?**

[2017-11-20 05:36] leemunroe commented on #69
@adelriosantiago You probably need to add `width: 100%` to the `<td>` and `<a>` as well as the `<table>` to ensure the clickable button spans the full width (and not just the background color).

[2017-11-22 00:31] adelriosantiago commented on #69
@leemunroe Yes, I noticed that. Thanks!

I was wondering why the button is currently not at width 100%. IMO it looks better. Is there some kind of rendering issue by keeping that at 100%?

[2017-11-22 01:14] leemunroe commented on #69
@adelriosantiago Cool. Just subjective really. There's a media query to make it full width on small viewports. Keeping it not 100% gives you a bit more flexibility e.g. putting buttons side by side

[2017-11-22 01:14] #69 closed

[2017-12-07 01:50] dev169 opened #70 "Unable to center button on Android Gmail App"
Hello and thanks for the great work!

A bit of an issue, I'm trying to center a button, like so (tried the inlined version too):

[code]
This seems to be working mostly fine on everything I've tested, except a notable case:

On Android 7, using the Gmail app (`7.11.5.177402951` if it makes a difference) and on a Xiaomi Redmi Note 4X device, the button is aligned left in portrait orientation. Inter

[2017-12-10 23:31] leemunroe commented on #70
@dev169 If you add `align="center"` to the parent table as well does it work?

i.e.
[code]

[2018-03-01 15:59] Ridder90 commented on #70
I had the same issue! Got this working with `align="center"` and `width:100%!important;` on the table and the td containing the actual button.

[2018-03-06 06:58] leemunroe commented on #70
Thanks @Ridder90

[2018-03-06 06:58] #70 closed

[2018-03-16 05:35] leemunroe opened #72 "Add Samsung Mail specific styles for phone and address"
Samsung renders phone numbers and addresses as links, making them blue and underlined.

Adding this to `<style>` block will fix.

[code]

[2018-03-23 17:07] NA1056 commented on #72
Can you please send this to so that i can fix it for you thanks!

[2018-05-21 10:58] idiazroncero opened #74 "Content not centered on Mac OS Mail"
Hello!
First of all, thanks for your amazing work.
I am having some issues with centering on Mail on Mac (High Sierra, 10.13.4).
I'm sending the HTML inlined version, copy & paste, and the content is not centered. I have checked the source and it's the same as the original:

<img width="814" alt="captura de pantalla 2018-05-21 a las 12 55 49" src="https://user-images.githubusercontent.com/3958741/

[2018-05-22 00:11] leemunroe commented on #74
Thanks @idiazroncero. What are you using to send the HTML? I just checked Litmus and my own client and looks fine.

![image](https://user-images.githubusercontent.com/15963/40335613-7461d8be-5d19-11e8-9682-a429662cd4c2.png)

![image](https://user-images.githubusercontent.com/15963/40335707-f0ef08b6-5d19-11e8-8f1b-f6f178d92157.png)

[2018-05-29 04:01] leemunroe commented on #74
@idiazroncero Were you able to get this working? If so I'll close the issue.

[2018-05-29 09:49] idiazroncero commented on #74
Nop, but I guess is something on my side. I'm using Drupal (and theoretically a template that doesn't alter the code) and Sparkpost... so yes, there is a lot of middleware, I have to take a look.

[2018-07-04 10:08] reense commented on #74
Same thing is happening here.

[2018-07-23 21:18] pziewiec commented on #74
The same problem if I use juice with removeStyleTags = true (default value).

[2018-07-24 03:22] leemunroe commented on #74
@pziewiec Can you share your code so I can troubleshoot?

[2018-07-24 09:45] pziewiec commented on #74
I checked twice - problem is with html fitler in ckeditor not juice. Running juice on html from repository - email looks good.

[2018-07-24 19:07] leemunroe commented on #74
I see. Not familiar with ckeditor. Is this desktop editor or integrated into a web service or ESP? Do you know what ckeditor is stripping? I wonder if something similar is happening the other people above.

[2018-07-24 20:04] pziewiec commented on #74
ckeditor has no fullPage=true, so strip tags: html, head, body
[email-after-ckeditor.html.zip](https://github.com/leemunroe/responsive-html-email-template/files/2225161/email-after-ckeditor.html.zip)

[2018-07-24 22:15] idiazroncero commented on #74
@leemunroe Ckeditor is a wysiwyg text editor, one of the most popular, used on many CMSs including Drupal and it provides a huge degree of sanitization so yes, it seems like it could be the source of this issue.

[2018-07-26 05:03] leemunroe commented on #74
Got it. Thanks for the follow up. Closing.

[2018-07-26 05:03] #74 closed

[2018-09-20 16:57] dlancea opened #76 "Button issue with Outlook on Android"
It seems there's an issue with the .btn (and/or .btn-primary) class when viewing the email in Outlook on Android.

The text does not return to white on Android's version of Outlook. Also, the bottom border-radius does not match the top.

This is using the exact code from the current email.html.

![Screenshot](https://user-images.githubusercontent.com/227576/45834273-b759bb80-bcd4-11e8-9224-caab840

[2018-09-20 17:04] dlancea commented on #76
The workaround for the text color is to include an inline style for white text in the anchor tag:

`<a href="{{ url }}" style="color: #FFFFFF">Button text</a>`

[2018-09-28 03:37] leemunroe commented on #68
Resolved.

[2018-09-28 03:37] #68 closed

[2018-09-28 03:38] leemunroe commented on #76
@dlancea Thanks! Will update soon. Or feel free to submit PR.

[2018-10-10 03:48] #67 closed

[2018-10-10 08:48] mbrookson opened #81 "Button doesn't display correctly in Outlook desktop"
![image](https://user-images.githubusercontent.com/20131783/46724265-8c2e1080-cc71-11e8-92af-f0494cc04d4c.png)

When opening in the browser it looks as intended, but in Outlook desktop the button doesn't have any height or background colour

[2018-10-14 20:42] Rieranthony opened #82 "Content not centered mac os Mail when attachement"
Hi there,
First of all thanks for this awesome template.

I have got a weird behaviour on mac os Mail app.

If I'm attaching an ICS file to the email, the content of the email isn't centred anymore (only the main block part).

I'm using Amazon SES to send emails from a NodeJS app using NodeMailer.
Also, the css is inlined.

<img width="1206" alt="screen shot 2018-10-14 at 9 06 01 pm" src="https://

[2018-10-16 03:48] leemunroe commented on #82
Interesting, haven't seen this before. Have you got an example of the compiled code you're sending? Is the issue only on macOS Mail? Also feel free to send me an example with the attachment so I can take a look (lee@leemunroe.com).

[2018-10-16 12:21] Rieranthony commented on #82
Thanks for your answer @leemunroe,

No, this behaviour is only on the Mail app on Mac OS.

I'm observing the same behaviours in this email client when I'm writing an email and I'm dragging and dropping a file in it: the files are added in the text itself, maybe it is doing the same here?

I'll send you an email example on this email, thanks again!

Anthony:

PS: This is the compiled code that I'm

[2018-10-18 04:53] leemunroe commented on #82
Confirmed, seeing the same thing.

Apple Mail
![image](https://user-images.githubusercontent.com/15963/47132087-099be700-d257-11e8-9807-d1ee1c6c1b30.png)

Gmail
![image](https://user-images.githubusercontent.com/15963/47132095-14567c00-d257-11e8-9360-1a0e6e809f49.png)

[2018-10-24 12:52] Rieranthony commented on #82
Thanks! I didn't find any solution for now ...

[2018-10-24 15:00] natescherer commented on #81
I was having the same issue, but switching to the inlined version fixed it.

[2018-10-26 03:09] #81 closed

[2018-11-06 22:51] IrinaTen commented on #82
I have changed the class name "container" to a less generic one and it fixed the issue for me.

[2018-11-07 04:37] leemunroe commented on #82
Woah how did you figure that out?

@Rieranthony can you test and confirm?

[2018-11-30 20:06] yagooar opened #88 "Donations possible?"
Thanks a lot for creating this template. It has saved me a ton of time and a bit of money (and it works like a charm!), because so far I was looking to buy a template and then integrating it into my app.

If there's a way of donating a bit to the project - buy you a coffee maybe - I'll happily do. Let me know if and how I can send you the money.

[2018-12-03 05:11] leemunroe commented on #88
@yagooar Great to hear! Appreciate that. No donation needed but a coffee or beer is always appreciated. I added a donate button to the [readme](https://github.com/leemunroe/responsive-html-email-template/blob/master/readme.md). Also if

[2018-12-03 05:11] #88 closed

[2019-02-01 12:12] mjmgooch opened #90 "Pre header text indent in Outlook 2016"
Hello,

I ran across a minor formatting issue in Outlook 2016 where the preheader text was indented in the outlook message preview.

I fixed it by simply moving the pre header span above the table.

Before:

[code]

After:
[code]

[2019-02-05 05:44] leemunroe commented on #90
@mjmgooch Wow, great catch. Can you share a before/after screenshot?

[2019-02-05 08:34] mjmgooch commented on #90
@leemunroe Here you go:

![Before and after](https://i.ibb.co/RT3Ydgx/before-after-outlook2016.png)

[2019-02-06 20:40] leemunroe commented on #90
I think this sounds good. Do you want to make the change to `email.html` and `email-inlined.html` and create a PR so I can approve? That way you get the contribution. If you'd prefer not to I can do it.

[2019-02-15 16:25] reed-lawrence opened #91 "Image width in Outlook 365 does not behave as expected"
I'm not sure if this is a bug pertaining exactly to this library but I notice that it is in the CSS so I thought I would say something.

Outlook seems to not like CSS styling of image widths/heights. My 1200px width PNG used as a heading image would display full size in outlook and would pull the rest of the container with it creating all sorts of styling issues.

For images the only way to overri

[2019-02-15 21:37] leemunroe commented on #91
Valid point. I usually have these attributes for images.

`<img src="" alt="" width="" height="" border="0" style="border:0; outline:none; text-decoration:none; display:block;">`

Would it be useful to include this in readme? It's something I reference in [this post](https://www.smashingmagazine.com/2017/01/introduction-building-sending-html-email-for-web-developers/).

[2019-02-21 05:12] leemunroe commented on #90
Fixed

[2019-02-21 05:12] #90 closed

[2019-05-29 07:54] anshul7negi opened #95 "Doesn't display style property "basic HTML as default view""
Hello there,
This template works fine when viewed in "Standard View of Gmail" but display only text when viewed in "Basic HTML View of Gmail"
Is there to preserve the style in Basic View of Gmail.

[2019-05-29 16:09] leemunroe commented on #95
Hi can you share a screenshot and confirm you’re using the inlined CSS version? It will help me troubleshoot. Thanks.

[2019-05-30 06:44] anshul7negi commented on #95
My apologies for the confusion, not using email inline template as I am new to this field. Now it works fine Thank You

[2019-06-22 21:17] leemunroe commented on #91
Added a note to https://github.com/leemunroe/responsive-html-email-template/blob/master/readme.md

[2019-06-22 21:17] #91 closed

[2019-06-22 21:17] #95 closed

[2019-06-22 21:22] leemunroe commented on #72
Added thanks

[2019-06-22 21:22] #72 closed

[2019-06-22 21:23] leemunroe commented on #76
Is this still an issue? I wasn't able to reproduce. Closing but feel free to correct me.

![image](https://user-images.githubusercontent.com/15963/59969034-46f8f880-94f9-11e9-957f-a28649d72e48.png)

[2019-06-22 21:23] #76 closed

[2019-08-20 16:00] erikdemarco opened #98 "why font size needs to be forced?"
Because of this line:

[code]
We cant modify our fontsize in the email. Please remove that !important

[2019-09-11 02:21] LearnedVector opened #100 "blocked to send using gmail"
I'm getting a message blocked and rejected to send on Gmail. Any work around?

[2019-09-11 03:47] leemunroe commented on #100
Can you share a screenshot? Are you using Gmail to send or an ESP?

[2019-09-11 03:50] leemunroe commented on #98
It has been a while since I tested this but I believe `!important` is required for media queries as you want to override the inlined style. Without it, the inline style would take precedence. Please correct me if I'm wrong.

If you want a different responsive/mobile font-size you should change this value.

[2019-09-11 03:50] #98 closed

[2019-09-11 18:02] LearnedVector commented on #100
<img width="738" alt="Screen Shot 2019-09-11 at 12 57 51 PM" src="https://user-images.githubusercontent.com/8495552/64722478-299e4f80-d494-11e9-9fd0-97a405f47ef5.png">

Here is a screenshot of some rejection emails. The email did actually start going through once I removed some of the `href` links from the template. not sure why google's rejecting those links.

[2019-09-11 23:07] leemunroe commented on #100
I suspect it is because you're trying to send a lot of emails via Gmail. For mass email, or just sending HTML email in general, you want to use a service like SendGrid or Mailchimp. The template you use shouldn't affect this. https://support.google.com/mail/answer/22839?hl=en

[2019-09-11 23:07] #100 closed

[2019-09-24 23:19] qfaq opened #101 "Email Width Really Large When in Gmail"
Hello.

Whenever I try to paste the code into gmail the width is really large and ugly. How do I fix this?
<img width="972" alt="Screen Shot 2019-09-24 at 4 18 21 PM" src="https://user-images.githubusercontent.com/49662620/65557147-13a67b00-dee7-11e9-88c1-93ef5c4f3721.png">

[2019-09-25 04:18] leemunroe commented on #101
Are you sending this with Gmail? What happens if you send it with https://putsmail.com?

[2019-09-25 04:23] qfaq commented on #101
It seems to work. However, in my case I'm trying to email my entire class. How would I go at doing this while still doing it from my gmail?

[2019-09-25 04:33] leemunroe commented on #101
I see. Gmail isn't really built for sending HTML templates like this. You need to use an ESP like SendGrid, Mailgun or Mailchimp. You might be able to use a [plugin like this](https://www.saleshandy.com/blog/create-send-html-email-template-in-gmail/) but I haven't personally tried it.

[2019-09-25 04:33] #101 closed

[2019-10-22 02:42] mpoiriert opened #105 "Email and email inlined don't match"
I am using a php library to inline the css from the html and I was comparing result.

I spotted that the inlined file in the repository doesn't keep the same structure.

Just look at the

<span class="preheader">This is preheader text. Some clients will show this text as a preview.</span>

Just want to point it out.

[2019-10-22 05:19] leemunroe commented on #105
Not fully understanding. Can you share a screenshot of what you're seeing vs expected behavior?

[2019-10-22 15:37] mpoiriert commented on #105
This is the inlined line for preheader

https://github.com/leemunroe/responsive-html-email-template/blob/44ffa18a7421085dde4edf778116ea4c7736c1cf/email-inlined.html#L105

And this one for the "regular" template:

https://github.com/leemunroe/responsive-html-email-template/blob/44ffa18a7421085dde4edf778116ea4c7736c1cf/email.html#L336

As you can see the regular template the preheader is just after

[2019-10-23 05:34] leemunroe commented on #105
Ah you're right. Someone moved it due to an issue with a client.
https://github.com/leemunroe/responsive-html-email-template/commit/4e6e711aad8457b4f005816ff1cae0d7d7fefc42
 I think we can safely move the inlined version too.

[2019-11-04 09:40] gargol opened #107 "Litmus test result link is broken"
When navigating to litmus link from the [readme.md](https://github.com/leemunroe/responsive-html-email-template/blob/master/readme.md#L51) (https://litmus.com/checklist/emails/public/bd7912f) it returns 500

![Screenshot from 2019-11-04 16-41-05](https://user-images.githubusercontent.com/675397/68111549-f28f6c00-ff21-11e9-89c4-d82be520b7ec.png)

[2019-11-05 04:45] leemunroe commented on #107
Updated this. Thanks.
https://litmus.com/checklist/emails/public/233ded7

[2019-11-05 04:45] #107 closed

[2019-11-23 18:48] JimTheMan opened #108 "Should Images Always Be Hosted Separately?"
Hi, thanks for making this.

In the README there is an image example where the path is, "https://absolute-path-to-image.jpg". However, it doesn't say anything about this mysterious path. It is possible / recommended to somehow compile the image right into the html file or is hosting your own images the most used method today?

Thanks!

[2019-11-25 05:22] leemunroe commented on #108
Yeh you need to host the images somewhere. If you're using an ESP like SendGrid for example, they have a file uploader feature so you would upload then copy the URL of the file. Uploading to S3 would be another alternative or https://cloudinary.com/

[2019-11-25 05:22] #108 closed

[2020-02-17 10:54] helen559 opened #110 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/ulpu2gz

[2020-02-20 04:46] rzkxncb opened #111 "💋 💋 💋"
💋 💋 💋

[2020-02-20 04:47] rzkxncb opened #112 "👇 👇 👇"
👇 👇 👇

[2020-02-20 04:48] rzkxncb opened #113 "WANT TO SEE HOT PICS WITH ME?"
WANT TO SEE HOT PICS WITH ME?

[2020-02-20 04:49] rzkxncb opened #114 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://tinyurl.com/srmjb2y

[2020-02-27 20:01] gromovadarya90 opened #115 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-04-15 18:43] JordyGit opened #118 "Litmus test results URL in Readme doesn't work anymore"
In the readme the URL "See the Litmus test results" opens the website, but it hasn't the same results as the screenshot provided in the readme.
The screenshot attached shows what I can see on Litmus.
![ssssss](https://user-images.githubusercontent.com/33500507/79375963-c14bab00-7f59-11ea-8663-7777c45abbc6.png)
Other then that, very nice template, thanks!

[2020-04-17 06:53] leemunroe commented on #118
Whoops. Updated. Thanks for heads up. https://litmus.com/checklist/emails/public/233ded7

[2020-04-17 06:53] #118 closed

[2020-04-28 15:26] akosijiji opened #120 "HTML is not working in forwarded email"
Hi, I'm loving this project. But I encountered an issue when I forwarded the email. HTML is not working as expected. Anyone faced this issue? Do you have any workaround to this? Appreciate your response. Thanks!

[2020-04-29 07:34] logovitta commented on #120
You don't forward newsletter. Because, depending on the client you use, it may crop important part of the mail. Outlook typically erase the css/responsive part, also adding custom formatting to the text that may alter the graphic you intended.

[2020-05-13 17:16] micschk opened #121 "Question: why are 'max-width' and 'width' equal on .container?"
I understand the max-width, but doesn't also setting a fixed width (to an equal pixel value) make the e-mail effectively fixed-width? Or is this some kind of workaround/hack?

[code]

In the [smashingmag](https://www.smashingmagazine.com/2017/01/introduction-building-sending-html-email-for-web-developers/#fluid) article you do use a percentage value;

[code]

[2020-05-13 23:40] leemunroe commented on #121
Definitely a hack, but I forget why exactly. Likely to do with a version fo Outlook. Curious if you run into this issue or not.

[2020-05-13 23:42] leemunroe commented on #120
Yeh I'm afraid there's nothing can be done about this AFAIK. Forwarding HTML breaks depending on the client.

[2020-05-13 23:42] #120 closed

[2020-05-23 11:47] Charu271 opened #122 "Customer review cards"
#### Review cards are not equal in size. It doesn't look nice

![Screenshot (224)](https://user-images.githubusercontent.com/60181628/82729896-35c3f780-9d19-11ea-8b2d-472fec14148a.png)

[2020-05-23 17:38] leemunroe commented on #122
Thanks for feedback! Unrelated to this project so closing the issue but I agree :-)

[2020-05-23 17:39] #121 closed

[2020-06-14 19:01] mredbishop commented on #122
:facepalm: this might be one of the weirdest issues I've seen someone take the time to report. Also, I think it looks fine :smile:

[2020-06-15 04:34] #122 closed

[2020-09-12 03:37] #105 closed

[2020-10-14 00:40] willemarcel opened #139 "Repeated font-family"
On the inlined file the font-family rule is repeated in a lot of places inside the table. Is there a reason to that? Wouldn't adding the font-family only on the table html element be enough?

[2020-10-15 05:07] leemunroe commented on #139
It uses Juice inliner to inline styles. Goal is to make it bulletproof as each email client behaves in different ways.

If you've done any testing here and can share, would love to re-evaluate and remove some dups.

[2020-10-16 13:15] willemarcel commented on #139
I did a test and we really need to repeat the font-family. Thanks your reply!

[2020-10-16 13:15] #139 closed

[2020-12-21 06:07] elsamanirais opened #145 "Html response"

[2021-01-10 00:04] #145 closed

[2021-01-12 19:45] danielblazquez opened #148 "`table[class=body]` causes responsive mobile version not working in iOS Gmail"
It seems that **Gmail for iOS** ignore the `table[class=body]` properties for mobile-friendly styles.

By removing the atribute selector, the mobile styles work perfectly in this app.

What is this hack used for?

[2021-01-14 06:13] leemunroe commented on #148
@danielblazquez do you have a before/after screenshot you can share for context?

[2021-01-14 10:08] danielblazquez commented on #148
Here you go

iOS 14.3 Gmail 6.0.2 with `table[class=body]`:
https://user-images.githubusercontent.com/3729461/104575918-dde75180-5657-11eb-8025-f848ca19413c.jpg

Without:
https://user-images.githubusercontent.com/3729461/104575953-e63f8c80-5657-11eb-8400-886c70c59ab8.jpg

[2021-01-14 10:35] danielblazquez opened #149 "No button in Windows Mail or Outlook Office 2019 (Windows 10)"
`email.html` template

### Mail version 16005.13426.20368.0

![Windows Mail](https://user-images.githubusercontent.com/3729461/104577403-bee9bf00-5659-11eb-8bf2-c95e109b5764.png)

### Outlook 2019
![Outlook](https://user-images.githubusercontent.com/3729461/104579423-3f112400-565c-11eb-9124-c090e9dc9fd1.png)

[2021-01-14 11:12] danielblazquez commented on #149
Pull request with fixes
https://github.com/leemunroe/responsive-html-email-template/pull/150

![Windows Mail](https://user-images.githubusercontent.com/3729461/104583663-ae3d4700-5661-11eb-9b05-66dab7bc743e.png)

[2021-01-15 04:36] leemunroe commented on #148
Very helpful thank you! I see what you mean. I tested it without and everything seems fine. I don't recall the original reason for this but it was several years ago. I think we're good to change this.

[2021-01-25 10:43] ghost opened #151 "Email template"

[2021-02-18 05:04] #151 closed

[2021-02-18 05:04] leemunroe commented on #149
Closing as this is resolved when inlining the CSS
https://github.com/leemunroe/responsive-html-email-template#inline-your-css-before-sending

[2021-02-18 05:04] #149 closed

[2021-04-01 15:08] borzaka commented on #22
Add `img-responsive` class to the full width image to became responsive, and maintain aspect ratio.

[2021-04-25 03:59] gavin310 commented on #148
When you guys say to remove the `table[class=body]` attribute selector, do you mean to change things like `table[class=body] h1 {` to `h1 {` or do you mean to get rid of the "RESPONSIVE AND MOBILE FRIENDLY STYLES" styles all-together?

[2021-04-25 10:06] danielblazquez commented on #148
Only the table[class=body]

[2021-05-16 13:55] ayushknath commented on #148
Try putting double quotes inside the class value.
Like this:-
table[class="body"]

[2021-05-17 14:14] Labritzky opened #155 "Outlook: the css is not working properly?"
Hi, when I send  an email to any email client it's working perfectly but for some reason in outlook it's not responsive and it seems to changes some elements. We've tried inlinine/not inline the css but with no luck. Any tips?
![ce1](https://user-images.githubusercontent.com/53199201/118503096-4f173e00-b6f8-11eb-895c-4f86b4ea2393.jpg)
![ce2](https://user-images.githubusercontent.com/53199201/11850

[2021-09-15 22:58] iambumblehead opened #157 "If placeholder keys are used rather than text, the template is easier to use as-is"
For example, the footer part of the template looks like this...
[code]

If this were changed to use a key for regexp-replace
[code]

then we could do something like this...
[code]

It would also be awesome if this template could be packaged to npm, so that it could be included as a dependency for C# and javascript applications.

Thank you!

[2021-09-16 04:38] leemunroe commented on #157
Thanks! I see what you mean. For less technical folk I think it is important to call out the anchor <a> needs inline styling too, and in general this might overcomplicate the template.

That said, I love the npm idea. I've never published to npm before, how would that work? Do you have a good reference tutorial or something to point me in the right direction?

[2021-09-16 05:08] iambumblehead commented on #157
suggestion: a template-html could be used to generate the example version pre-filled with content for beginners and both the template and the example could be included in the project.

re npm, I don't have a good reference. To use it though I think these are the things you would need to do,
 1. get an npm user account
 2. install node.js and it will come with npm
 3. add a package.json file to the

[2021-09-16 05:40] iambumblehead commented on #157
another idea, if you want to make as few changes to the existing project as possible...

add a 'publish' script for npm that reads the current html files to create template files only included in the npm-published package. Pass the html into https://www.npmjs.com/package/xmldom and replace the text nodes replaced with template keys before saving the result as a new file.

[2021-09-16 05:50] iambumblehead commented on #157
an index script could be used to simplify things for npm users, so that something like this might be possible for package users,
[code]

[2021-09-25 13:09] webketje commented on #157
Long-time passive starrer of this repo here, I like the idea.
You could use a simple templating library to generate the HTML, like [Handlebars.js](https://handlebarsjs.com/) or [Lodash.template](https://www.npmjs.com/package/lodash.template).
To init an npm project you simply do `npm init` in the repo root.

In the JS integration example given by @iambumblehead, the placeholders are only of utilit

[2021-09-26 09:42] webketje commented on #157
Well a forker of this repo already put the template on NPM 5 years ago: https://www.npmjs.com/package/responsive-html-email-template. So if you want to go through with it, you will need to contact him and ask for NPM pkg ownership transfer or use an NPM scope, e.g. `@htmlemail/responsive-html-email-template`

[2021-09-27 17:42] iambumblehead commented on #157
@webketje its interesting to consider these questins: would it be possible to make a generally useful npm package for this? what would the interface for such a package look like?

Here's an idea... what do you guys think?

The package could compose email from a markdown string that includes some variables at the top. Something like this,

[code]

The markdown could passed into an interface with op

[2021-09-29 03:28] leemunroe commented on #157
I do like the idea of having a simple npm placeholder solution. How would this compare to [this Grunt workflow](https://github.com/leemunroe/grunt-email-workflow)? Which I think accomplishes the functionality you want, albeit using Grunt.

[2021-09-29 06:59] iambumblehead commented on #157
The grunt-email-workflow provides many features, however my own situation requires one thing: stringy html, populated with custom copy text and links. No integrations or build tooling.

[2021-09-29 08:18] webketje commented on #157
Though the markdown may be useful for some, it will not be for others and will add additional dependencies to this package.
I stick to the point of using a single `contents` field. Anyone could still create a simple markdown-body flow on top of that:

[code]

What would be of more value (on NPM) is including a script to re-inline the CSS after changes

[2021-09-29 20:08] iambumblehead commented on #157
@webketje I like your idea to use a single contents field. `emailCreate` would need to intelligently apply the necessary styles to the content string.

The concept of this package may just be impractical with no single solution for all. Copying the template file here and directly editing the html and copy text may actually be the "simplest" overall approach.

[2021-10-05 15:34] webketje commented on #148
IMO you haven't sufficiently singled out the reason this issue occurs and I think it is because 14 email clients do not support the `[class=body]` CSS3 attribute notation (among them iOS Gmail), as per [CampaignMonitor's CSS reference for email](https://www.campaignmonitor.com/css/selectors/attribute-equals/).

Changing it to `table.body` will do fine.

[2021-11-07 00:24] Josiascalt opened #161 "Hola"
Quiero trabajar con ustedes

[2021-11-23 06:02] #148 closed

[2022-03-13 04:34] #161 closed

[2022-03-13 04:38] leemunroe commented on #155
Hi @Labritzky sorry for the slow followup. This may be too late but could you confirm what Outlook version and OS? And could you share the HTML you're sending? That'll allow me to test and inspect the HTML. Thanks.

[2022-03-17 22:30] gsg-chris commented on #155
I can confirm this issue in Outlook. When viewed using using a online web email system, it displays correctly.

It used to work fine, but Microsoft changed something... of course.

Windows 10 Pro. Most recent version of Outlook.

[2022-03-20 00:32] webketje commented on #155
Might be related: https://github.com/leemunroe/responsive-html-email-template/pull/126#issuecomment-931200386
@gsg-chris could you try setting width: 100% as mentioned in the comment linked above?

[2022-05-17 07:52] recser opened #166 "Where should I include the license notice ?"
Hi, maybe stupid question but should the license notice be included in the source code of the project or added to emails sent with this template ?

Best regards,

[2022-05-17 11:24] webketje commented on #166
copies or substantial portions of the Software."

The software in this case is an "Email template repository", not the email derivatives you create from it.
So if you fork the project, you should keep the MIT license in the source code repository only.

[2022-05-17 11:27] recser commented on #166
@webketje got it. thank you for taking the time to answer ;)

[2022-05-17 11:27] #166 closed

[2022-06-04 06:54] thierryntoh24 opened #167 "Template Not Displaying with Nodemailer"
I'm trying to use this template with Nodemailer but for some reason the body doesnt display at all.
But when i channge it some something simpler like `<b> Message here </b>`, it displays perfectly.

[2022-07-11 03:36] neildchen opened #169 "is it possible to change the border-radius of the button?"
I have tried to change the style: (and examine using Chrome Version 103.0.5060.114 (Official Build) (64-bit))

[code]
 but it does not seem to do anything.

I need to have the button look like this:

![Screenshot from 2022-07-11 11-31-57](https://user-images.githubusercontent.com/8392135/178183843-c28f1a99-83f8-4bb7-9bc0-b5329e1316d8.png)

Thanks in advance if you have any tips.

[2022-07-11 05:42] neildchen commented on #169
I found out how; and for whom were having the same trouble:
`
 <td
    style="
    font-family: sans-serif;
    font-size: 14px;
    vertical-align: top;
    border-radius: 30px;  <-- change both here
    text-align: center;
    background-color: #446573;"
    valign="top"
    align="center"
    bgcolor="#446573"

<a
    href="{{viewServiceUrl}}"
    target="_blank"
    style="
    border: solid 1

[2022-07-11 05:42] #169 closed

[2022-08-04 23:27] EncryptEx opened #171 "Fun: Unsubscribe gif link is broken"
I was messing up with the template when I came across the link to a gif, but it's broken.
Since I'm a little bit curious about what was it, I'll open this thread to discuss the new one 😉😉

Exact line can be found here: https://github.com/leemunroe/responsive-html-email-template/blob/master/email.html#L392

Btw, this is not a real code issue.

[2022-09-15 14:34] proofrating opened #172 "Social icons in footer addition"
How would I add social icons in the footer?

[2022-09-28 08:44] YashwanthLakkimsetti commented on #172
Can you assign this issue to me? I can resolve it.

[2022-09-28 08:46] YashwanthLakkimsetti commented on #171
can you please elaborate on this issue? So, I can look into it?

[2022-09-28 10:26] YashwanthLakkimsetti commented on #172
Which social icons do you need like Facebook, twitter, youtube is fine?

[2022-09-28 10:27] leemunroe commented on #171
Ah [this line](https://github.com/leemunroe/responsive-html-email-template/blob/master/email.html#L387) — was just a link to a silly gif. You should replace this with your ESPs unsubscribe link.

[2022-09-28 10:27] #171 closed

[2022-09-28 10:29] YashwanthLakkimsetti commented on #171
Is it completed??

[2022-09-28 12:35] proofrating commented on #172
Facebook, twitter, instagram and LinkedIn
On Sep 28, 2022, 6:27 AM -0400, YashwanthLakkimsetti ***@***.***>, wrote:

[2022-09-29 05:59] YashwanthLakkimsetti commented on #172
![image](https://user-images.githubusercontent.com/96442644/192951027-ce359887-b419-4590-9d35-85a47d0cc259.png)
Is this fine or I should make any changes?

[2022-09-29 12:26] proofrating commented on #172
I was thinking just the icon no background and the grey color like the footer wording.  Where you can adjust the size of the icon if needed
On Sep 29, 2022, 1:59 AM -0400, YashwanthLakkimsetti ***@***.***>, wrote:

[2022-09-29 12:28] YashwanthLakkimsetti commented on #172
Can we get on a call and can we discuss it tomorrow? Is it fine?

[2022-09-30 04:55] Vrajjangid5 commented on #172
Can you assign this issue to me? I can resolve it.

[2022-09-30 04:57] YashwanthLakkimsetti commented on #172
Already it was assigned to me

[2022-10-04 10:37] proofrating commented on #172
Was it added?  Just want the icons grey
On Sep 30, 2022, 12:57 AM -0400, YashwanthLakkimsetti ***@***.***>, wrote:

[2022-10-05 14:27] proofrating commented on #172
Any update?

Jonathan Smith

Creator @ Proofratings

***@***.*** ·  https://proofratings.com

---- On Tue, 04 Oct 2022 06:37:09 -0400 Jonathan Smith ***@***.***> wrote ---

Was it added?  Just want the icons grey 

On Sep 30, 2022, 12:57 AM -0400, YashwanthLakkimsetti ***@***.***>, wrote:

Already it was assigned to me

—
 Reply to this email directly, https://github.com/leemunroe/responsive-html-

[2022-10-11 14:24] proofrating commented on #172
Anything updated on it?
On Sep 30, 2022, 12:57 AM -0400, YashwanthLakkimsetti ***@***.***>, wrote:

[2022-10-11 14:53] leemunroe commented on #172
@YashwanthLakkimsetti great to see you helping @proofrating with this.

I wanted to add some clarity to this thread, the social icons are outside of the scope of the goals of this repo. So I'd prefer to not have this committed here directly and instead have this live in a fork (or even outside GitHub if you prefer). This shouldn't block anything, just making sure expectations are set.

[2022-10-11 14:58] proofrating commented on #172
Of course.  If you can just provide me the snippet of code to add and where, I can just add it on my end for the use case
On Oct 11, 2022, 10:53 AM -0400, Lee Munroe ***@***.***>, wrote:

[2022-10-13 16:03] proofrating commented on #172
???

Jonathan Smith

Creator @ Proofratings

***@***.*** ·  https://proofratings.com

---- On Tue, 11 Oct 2022 10:58:15 -0400 Jonathan Smith ***@***.***> wrote ---

Of course.  If you can just provide me the snippet of code to add and where, I can just add it on my end for the use case

On Oct 11, 2022, 10:53 AM -0400, Lee Munroe ***@***.***>, wrote:

https://github.com/YashwanthLakkimsetti great

[2022-10-19 19:29] proofrating commented on #172
Anyone on this?
On Oct 11, 2022 at 10:53 AM -0400, Lee Munroe ***@***.***>, wrote:

[2022-10-19 20:01] proofrating commented on #172
@YashwanthLakkimsetti can you help me on this?  Please email me privately jsmith@proofratings.com

[2022-10-19 20:02] proofrating commented on #172
@Vrajjangid5 if you can help me on this please email me privately jsmith@proofratings.com